:root {
    --main-blue: #592efb;
    --main-blue-dark: #461ae6;
    --basic-white: #ffffff;
}

.filter-options svg {
    color: var(--main-blue);
}

.reset-filter {
    background-color: var(--basic-white);
    border: none;
    color: var(--main-blue);
    text-decoration: none;
}

input.form-check-input {
    padding: 10px;
}

input.form-check-input:checked {
    background-color: var(--main-blue);
    border-color: var(--main-blue);
}

.offcanvas {
    overflow-x: hidden;
    overflow-y: visible;
}

.offcanvas-footer {
    position: sticky;
    bottom: 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    box-shadow: 0px -1px 16px rgb(0, 0, 0, 0.1);
}

.offcanvas-footer button {
    width: 100%;
}

.filter-item {
    padding: 8px 28px;
    background-color: var(--main-blue);
    color: var(--basic-white);
    border-radius: 16px;
}

.btn-close {
    color: var(--basic-white);
    background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
}

span.horizontal-divider {
    border-right: 2px solid var(--main-blue);
    transform: rotate(90deg);
}

.input-group.price-input input {
    border-left: none;
}

.input-group-text.price-input {
    border-right: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
