:root {
    --main-blue: #592efb;
    --main-blue-dark: #461ae6;
    --basic-white: #ffffff;
}

.input-group input {
    border-right: none;
}

.input-group input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ced4da;
    border-right: none;
}

.input-group-text {
    border-left: none;
}

.input-group-text svg {
    color: var(--main-blue);
}

hr {
    display: block;
    height: 2px;
    border-top: 2px solid var(--main-blue);
    border-radius: 8px;
    opacity: 1;
}
